.sidebar {
    text-align: center;
    border: #c5c5c5eb solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #fffefe;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1.6px 0.5px 2.2px -7px rgba(0, 0, 0, 0.019), 3.9px 1.1px 5.4px -7px rgba(0, 0, 0, 0.03), 7.3px 2.1px 10.1px -7px rgba(0, 0, 0, 0.038), 13px 3.8px 18.1px -7px rgba(0, 0, 0, 0.043), 24.2px 7.1px 33.8px -7px rgba(0, 0, 0, 0.051), 58px 17px 81px -7px rgba(0, 0, 0, 0.07);
}

    .sidebar a {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 15px;
        color: #939393;
        display: block;
        padding: 20px;
        padding-left: 30px;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        text-align: left;
    }

        .sidebar a:hover {
            color: #4a8be7;
            outline: none;
            position: relative;
            background-color: #e1e7f5;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            text-decoration: none;
        }


@media (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
    }

    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar {
        display: none;
    }

    .navbar-toggle.pull-left {
        float: left;
        margin-left: 15px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
    }

    .navbar-toggle {
        display: block;
    }
}

.buyukimg {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
}

.karsilamayazi {
    border: #c5c5c5eb solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #fffefe;
    border-radius: 30px;
    box-shadow: 1.6px 0.5px 2.2px -7px rgba(0, 0, 0, 0.019), 3.9px 1.1px 5.4px -7px rgba(0, 0, 0, 0.03), 7.3px 2.1px 10.1px -7px rgba(0, 0, 0, 0.038), 13px 3.8px 18.1px -7px rgba(0, 0, 0, 0.043), 24.2px 7.1px 33.8px -7px rgba(0, 0, 0, 0.051), 58px 17px 81px -7px rgba(0, 0, 0, 0.07);
}

.havadurumu {
    border: #c5c5c5eb solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #fffefe;
    border-radius: 30px;
    box-shadow: 1.6px 0.5px 2.2px -7px rgba(0, 0, 0, 0.019), 3.9px 1.1px 5.4px -7px rgba(0, 0, 0, 0.03), 7.3px 2.1px 10.1px -7px rgba(0, 0, 0, 0.038), 13px 3.8px 18.1px -7px rgba(0, 0, 0, 0.043), 24.2px 7.1px 33.8px -7px rgba(0, 0, 0, 0.051), 58px 17px 81px -7px rgba(0, 0, 0, 0.07);
}

.radiobutton {
    border: #c5c5c5eb solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #fffefe;
    border-radius: 30px;
    box-shadow: 1.6px 0.5px 2.2px -7px rgba(0, 0, 0, 0.019), 3.9px 1.1px 5.4px -7px rgba(0, 0, 0, 0.03), 7.3px 2.1px 10.1px -7px rgba(0, 0, 0, 0.038), 13px 3.8px 18.1px -7px rgba(0, 0, 0, 0.043), 24.2px 7.1px 33.8px -7px rgba(0, 0, 0, 0.051), 58px 17px 81px -7px rgba(0, 0, 0, 0.07);
}

.izinler {
    border: #c5c5c5eb solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #fffefe;
    border-radius: 30px;
    box-shadow: 1.6px 0.5px 2.2px -7px rgba(0, 0, 0, 0.019), 3.9px 1.1px 5.4px -7px rgba(0, 0, 0, 0.03), 7.3px 2.1px 10.1px -7px rgba(0, 0, 0, 0.038), 13px 3.8px 18.1px -7px rgba(0, 0, 0, 0.043), 24.2px 7.1px 33.8px -7px rgba(0, 0, 0, 0.051), 58px 17px 81px -7px rgba(0, 0, 0, 0.07);
}

.Duyurular {
    border: #c5c5c5eb solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #fffefe;
    border-radius: 30px;
    box-shadow: 1.6px 0.5px 2.2px -7px rgba(0, 0, 0, 0.019), 3.9px 1.1px 5.4px -7px rgba(0, 0, 0, 0.03), 7.3px 2.1px 10.1px -7px rgba(0, 0, 0, 0.038), 13px 3.8px 18.1px -7px rgba(0, 0, 0, 0.043), 24.2px 7.1px 33.8px -7px rgba(0, 0, 0, 0.051), 58px 17px 81px -7px rgba(0, 0, 0, 0.07);
}

.Aktiviteler {
    border: #c5c5c5eb solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #fffefe;
    border-radius: 30px;
    box-shadow: 1.6px 0.5px 2.2px -7px rgba(0, 0, 0, 0.019), 3.9px 1.1px 5.4px -7px rgba(0, 0, 0, 0.03), 7.3px 2.1px 10.1px -7px rgba(0, 0, 0, 0.038), 13px 3.8px 18.1px -7px rgba(0, 0, 0, 0.043), 24.2px 7.1px 33.8px -7px rgba(0, 0, 0, 0.051), 58px 17px 81px -7px rgba(0, 0, 0, 0.07);
}

.main {
    border: #c5c5c5eb solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    background-color: #fffefe;
    border-radius: 30px;
    box-shadow: 1.6px 0.5px 2.2px -7px rgba(0, 0, 0, 0.019), 3.9px 1.1px 5.4px -7px rgba(0, 0, 0, 0.03), 7.3px 2.1px 10.1px -7px rgba(0, 0, 0, 0.038), 13px 3.8px 18.1px -7px rgba(0, 0, 0, 0.043), 24.2px 7.1px 33.8px -7px rgba(0, 0, 0, 0.051), 58px 17px 81px -7px rgba(0, 0, 0, 0.07);
}

