<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonelWebApp</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" />
</head>

<body>

    <header>

        <!-- horizontal navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home"><i class="bi bi-house-fill"></i>&nbsp; Anasayfa</a></li>
                        <li><a href="/Profil"><i class="bi bi-person-fill"></i>&nbsp; Profilim</a></li>
                        <li><a href="/Izin"><i class="fa fa-paper-plane"></i>&nbsp; İzinler</a></li>
                        <li><a href="/Maas"><i class="bi bi-wallet-fill"></i>&nbsp; Maaş</a></li>
                        <li><a href="/Home/Takvim"><i class="bi bi-calendar3"></i>&nbsp; Takvim</a></li>
                        <li><a href="/Duyuru"><i class="bi bi-megaphone-fill"></i>&nbsp; Duyurular</a></li>
                        <li><a href="/Aktivite"><i class="bi bi-cone-striped"></i>&nbsp; Aktiviteler</a></li>
                        <li><a href="/Admin"><i class="bi bi-people-fill"></i>&nbsp; Çalışanlar</a></li>
                        <li><a href="/Login/LogOut"><i class="bi bi-box-arrow-left"></i>&nbsp; Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- horizontal navbar -->

    </header>

    <div class="container-fluid">
        <div class="row">

            <!-- sidebar -->
            <div class="col-sm-3 col-md-2 sidebar">
                <div style="text-align: center; margin-top: 5%;">
                    <a href="/Home" style="text-align: center;">
                        <img class="buyukimg" src="/img/m (1).png" alt="">
                    </a>
                </div>
                <ul class="nav nav-sidebar" style="height: 65vh; margin-top: 10px;">
                        <li><a href="/Profil"><i class="bi bi-person-fill"></i>&nbsp; Profilim</a></li>
                        <li><a href="/Izin"><i class="fa fa-paper-plane"></i>&nbsp; İzinler</a></li>
                        <li><a href="/Maas"><i class="bi bi-wallet-fill"></i>&nbsp; Maaş</a></li>
                        <li><a href="/Home/Takvim"><i class="bi bi-calendar3"></i>&nbsp; Takvim</a></li>
                        <li><a href="/Duyuru"><i class="bi bi-megaphone-fill"></i>&nbsp; Duyurular</a></li>
                        <li><a href="/Aktivite"><i class="bi bi-cone-striped"></i>&nbsp; Aktiviteler</a></li>
                        <li><a href="/Admin"><i class="bi bi-people-fill"></i>&nbsp; Çalışanlar</a></li>
                        <li><a href="/Login/LogOut"><i class="bi bi-box-arrow-left"></i>&nbsp; Çıkış Yap</a></li>
                </ul>
            </div>
            <!-- sidebar -->
            <!-- sidebar -->

            <div class="col-sm-9 col-md-10 main">
                <div class="container-fluid">
                    <svg id="wave" style="border-radius:10px; transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 270" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(246.213, 169.852, 30.668, 0.64)" offset="0%"></stop><stop stop-color="rgba(255, 176.824, 11, 0.72)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,54L34.3,76.5C68.6,99,137,144,206,175.5C274.3,207,343,225,411,198C480,171,549,99,617,94.5C685.7,90,754,153,823,171C891.4,189,960,162,1029,157.5C1097.1,153,1166,171,1234,166.5C1302.9,162,1371,135,1440,108C1508.6,81,1577,54,1646,40.5C1714.3,27,1783,27,1851,27C1920,27,1989,27,2057,45C2125.7,63,2194,99,2263,94.5C2331.4,90,2400,45,2469,49.5C2537.1,54,2606,108,2674,117C2742.9,126,2811,90,2880,67.5C2948.6,45,3017,36,3086,67.5C3154.3,99,3223,171,3291,202.5C3360,234,3429,225,3497,193.5C3565.7,162,3634,108,3703,94.5C3771.4,81,3840,108,3909,99C3977.1,90,4046,45,4114,49.5C4182.9,54,4251,108,4320,112.5C4388.6,117,4457,72,4526,81C4594.3,90,4663,153,4731,175.5C4800,198,4869,180,4903,171L4937.1,162L4937.1,270L4902.9,270C4868.6,270,4800,270,4731,270C4662.9,270,4594,270,4526,270C4457.1,270,4389,270,4320,270C4251.4,270,4183,270,4114,270C4045.7,270,3977,270,3909,270C3840,270,3771,270,3703,270C3634.3,270,3566,270,3497,270C3428.6,270,3360,270,3291,270C3222.9,270,3154,270,3086,270C3017.1,270,2949,270,2880,270C2811.4,270,2743,270,2674,270C2605.7,270,2537,270,2469,270C2400,270,2331,270,2263,270C2194.3,270,2126,270,2057,270C1988.6,270,1920,270,1851,270C1782.9,270,1714,270,1646,270C1577.1,270,1509,270,1440,270C1371.4,270,1303,270,1234,270C1165.7,270,1097,270,1029,270C960,270,891,270,823,270C754.3,270,686,270,617,270C548.6,270,480,270,411,270C342.9,270,274,270,206,270C137.1,270,69,270,34,270L0,270Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(0, 103.836, 255, 0.76)" offset="0%"></stop><stop stop-color="rgba(68.2, 157.71, 223.445, 0.75)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,81L34.3,94.5C68.6,108,137,135,206,121.5C274.3,108,343,54,411,31.5C480,9,549,18,617,54C685.7,90,754,153,823,171C891.4,189,960,162,1029,144C1097.1,126,1166,117,1234,130.5C1302.9,144,1371,180,1440,166.5C1508.6,153,1577,90,1646,54C1714.3,18,1783,9,1851,40.5C1920,72,1989,144,2057,162C2125.7,180,2194,144,2263,121.5C2331.4,99,2400,90,2469,99C2537.1,108,2606,135,2674,130.5C2742.9,126,2811,90,2880,67.5C2948.6,45,3017,36,3086,49.5C3154.3,63,3223,99,3291,112.5C3360,126,3429,117,3497,117C3565.7,117,3634,126,3703,135C3771.4,144,3840,153,3909,162C3977.1,171,4046,180,4114,184.5C4182.9,189,4251,189,4320,189C4388.6,189,4457,189,4526,171C4594.3,153,4663,117,4731,85.5C4800,54,4869,27,4903,13.5L4937.1,0L4937.1,270L4902.9,270C4868.6,270,4800,270,4731,270C4662.9,270,4594,270,4526,270C4457.1,270,4389,270,4320,270C4251.4,270,4183,270,4114,270C4045.7,270,3977,270,3909,270C3840,270,3771,270,3703,270C3634.3,270,3566,270,3497,270C3428.6,270,3360,270,3291,270C3222.9,270,3154,270,3086,270C3017.1,270,2949,270,2880,270C2811.4,270,2743,270,2674,270C2605.7,270,2537,270,2469,270C2400,270,2331,270,2263,270C2194.3,270,2126,270,2057,270C1988.6,270,1920,270,1851,270C1782.9,270,1714,270,1646,270C1577.1,270,1509,270,1440,270C1371.4,270,1303,270,1234,270C1165.7,270,1097,270,1029,270C960,270,891,270,823,270C754.3,270,686,270,617,270C548.6,270,480,270,411,270C342.9,270,274,270,206,270C137.1,270,69,270,34,270L0,270Z"></path></svg>
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
