<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonelWebApp</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css" />
</head>

<body>

    <header>

        <!-- horizontal navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/Profil"><i class="bi bi-person-fill"></i>&nbsp; Profilim</a></li>
                        <li><a href="/Izin"><i class="fa fa-paper-plane"></i>&nbsp; İzinler</a></li>
                        <li><a href="/Maas"><i class="bi bi-wallet-fill"></i>&nbsp; Maaş</a></li>
                        <li><a href="/Home/Takvim"><i class="bi bi-calendar3"></i>&nbsp; Takvim</a></li>
                        <li><a href="/Duyuru"><i class="bi bi-megaphone-fill"></i>&nbsp; Duyurular</a></li>
                        <li><a href="/Aktivite"><i class="bi bi-cone-striped"></i>&nbsp; Aktiviteler</a></li>
                        <li><a href="/Admin"><i class="bi bi-people-fill"></i>&nbsp; Çalışanlar</a></li>
                        <li><a href="/Login/LogOut"><i class="bi bi-box-arrow-left"></i>&nbsp; Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- horizontal navbar -->

    </header>

    <div class="container-fluid">
        <div class="row">

            <!-- sidebar -->
            <div class="col-sm-3 col-md-2 sidebar">
                <div style="text-align: center; margin-top: 5%;">
                    <a href="" style="text-align: center;">
                        <img class="buyukimg" src="https://www.thesynergist.org/wp-content/uploads/2014/09/469564565-320x320.jpg" alt="">
                        <p style="margin-bottom: -50px; font-style: italic; color:#5e9bf1 ; margin-top: 20px;">@User.Identity.Name</p><br>
                    </a>
                </div>
                <ul class="nav nav-sidebar" style="height: 65vh; margin-top: 50px;">
                        <li><a href="/Profil"><i class="bi bi-person-fill"></i>&nbsp; Profilim</a></li>
                        <li><a href="/Izin"><i class="fa fa-paper-plane"></i>&nbsp; İzinler</a></li>
                        <li><a href="/Maas"><i class="bi bi-wallet-fill"></i>&nbsp; Maaş</a></li>
                        <li><a href="/Home/Takvim"><i class="bi bi-calendar3"></i>&nbsp; Takvim</a></li>
                        <li><a href="/Duyuru"><i class="bi bi-megaphone-fill"></i>&nbsp; Duyurular</a></li>
                        <li><a href="/Aktivite"><i class="bi bi-cone-striped"></i>&nbsp; Aktiviteler</a></li>
                        <li><a href="/Admin"><i class="bi bi-people-fill"></i>&nbsp; Çalışanlar</a></li>
                        <li><a href="/Login/LogOut"><i class="bi bi-box-arrow-left"></i>&nbsp; Çıkış Yap</a></li>
                </ul>
            </div>
            <!-- sidebar -->
            <!-- sidebar -->

            <div class="col-sm-9 col-md-10 main">
                <div class="container-fluid">

                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
