<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
         aria-valuemin="0" aria-valuemax="100" style="width:50%">
        50% Complete
    </div>
</div>
<div>
    <p style="text-align: end; margin-top:10px;  font-family: Arial, Helvetica, sans-serif; font-weight: bolder; color: #939393;">Yıllık izninizden kalan gün sayısı : 5</p>
</div>
<div>
    <P style="font-size:large;  font-family: Arial, Helvetica, sans-serif; font-weight: bolder; color: #7c8185; margin-bottom: 20px; margin-top: 20px;">İzin Geçmişim : </P>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Onay Durumu</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Başlangıç Tarihi</th>
                <th scope="col">Bitiş Tarihi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Onaylandı</td>
                <td>sfsdşflsd</td>
                <td>05.02.2023</td>
                <td>07.02.2023</td>
            </tr>
            <tr>
                <td>Bekliyor</td>
                <td>sdflsdfl</td>
                <td>08.02.2023</td>
                <td>09.02.2023</td>
            </tr>
        </tbody>
    </table>
</div>

