        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-7 col-xs-12 karsilamayazi">İçerik 1 .</div>
                    <div class="col-sm-5 col-xs-12 havadurumu" style="float: right;">
                        hava durumu gün
                    </div>
                </div>
                <div class="row radiobutton">
                    <div class="col">
                        İçerik 2 İçerik 2 İçerik 2 İçerik 2 İçerik 2
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 icerikler">
                <!-- Bu divin içinde üç tane div daha olacak -->
                <div class="row">
                    <div class="col-lg-4 izinler">Bu div sola yapişik olacak.</div>
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col-lg-12 Duyurular">Bu div üstte sağda yer alacak.</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 Aktiviteler">Bu div altta sağda yer alacak.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>