<stlye>
  .thumbnail {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
 }

 .thumbnail-description {
   min-height: 40px;
 }

 .thumbnail:hover {
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgb(128, 128, 128);
 }
</style>
              <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <h4 id="thumbnail-label">Content Title</h4>
                        <div class="thumbnail-description smaller ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima impedit ducimus velit consequatur reprehenderit accusantium!</div>
                        <div class="caption card-footer text-right">
                          <p><i class="bi bi-person"></i>&nbsp; melike acuner</p>
                      </div>
                      <div>
                        <p>Başlangıç : 03.06.2019</p><p>Bitiş : 00.00.0000</p>
                      </div>
                      </div>
                    </div>

                  <div class="col-md-4">
                    <div class="thumbnail">
                        <h4 id="thumbnail-label">Content Title</h4>
                        <div class="thumbnail-description smaller">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima impedit ducimus velit consequatur reprehenderit accusantium!</div>
                        <div class="caption card-footer text-right">
                          <p><i class="bi bi-person"></i>&nbsp; melike acuner</p>
                      </div>
                      <div>
                        <p>Başlangıç : 03.06.2019</p><p>Bitiş : 00.00.0000</p>
                      </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <h4 id="thumbnail-label">Content Title</h4>
                            <div class="thumbnail-description smaller">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima impedit ducimus velit consequatur reprehenderit accusantium!</div>
                            <div class="caption card-footer text-right">
                              <p><i class="bi bi-person"></i>&nbsp; melike acuner</p>
                          </div>
                          <div>
                            <p>Başlangıç : 03.06.2019</p><p>Bitiş : 00.00.0000</p>
                          </div>
                          </div>
                        </div>
                </div>